@{
    ViewBag.Title = "Layout";
    string message = (string)Session["Message"];
    string messageType = (string)Session["MessageType"];
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@(ViewBag.Title)</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
</head>
<body>
    @if (message != null && !String.IsNullOrEmpty(message))
    {
        <div class="alert alert-@(messageType)">
            @message
        </div>
    }
    <h1>App dos times</h1>
    @RenderBody()

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    
</body>
</html>
